@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
:root {
    font-family: "Open Sans", "Ubuntu";
    font-weight: 300;
    color-scheme: light dark;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

::-webkit-scrollbar {
    display: none;
}

@keyframes move-up-right {
    0% {
        transform: translate(0px, 0px) scale(1);
    }
    25% {
        transform: translate(40px, -40px) scale(1.1);
    }
    50% {
        transform: translate(-30px, 30px) scale(0.9);
    }
    75% {
        transform: translate(20px, -20px) scale(1.05);
    }
    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

@keyframes move-left-right {
    0% {
        transform: translateX(0px) scale(1);
    }
    50% {
        transform: translateX(80px) scale(1.1);
    }
    100% {
        transform: translateX(0px) scale(1);
    }
}

@keyframes move-up-down {
    0% {
        transform: translateY(0px) scale(1);
    }
    50% {
        transform: translateY(-80px) scale(1.1);
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}

@keyframes move-bottom-left-top-right {
    0% {
        transform: translate(0px, 0px) scale(1);
    }
    50% {
        transform: translate(100px, -100px) scale(1.2);
    }
    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

@keyframes move-circular {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    25% {
        transform: translate(30px, -30px) rotate(90deg);
    }
    50% {
        transform: translate(0px, -60px) rotate(180deg);
    }
    75% {
        transform: translate(-30px, -30px) rotate(270deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(360deg);
    }
}

.animate-gradient {
    animation: gradient 8s linear infinite;
    background-size: 300% 100%;
}


/* Rotating Border Animation */

@keyframes rotate-border {
    to {
        --border-angle: 360deg;
    }
}

@property --border-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}


/* Add to your global.css or tailwind.css if preferred */